# Advent of Code {{ year }} Day {{ '%02d' % day }}
# Author: {{ author }}
# URL: https://adventofcode.com/{{ year }}/day/{{ day }}


def part_a(data: list[str]) -> int | str | None:
    """Solution to part A.

    Args:
        data: Advent of Code challenge input.

    Returns:
        Solution to the challenge.
    """
    return None


def part_b(data: list[str]) -> int | str | None:
    """Solution to part B.

    Args:
        data: Advent of Code challenge input.

    Returns:
        Solution to the challenge.
    """
    return None
